<div class="bg-image-1 hero">
  
  <h2>People Skills, negociação com a metodologia de Harvard e carreira</h2>

  <br>
  <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/VQKbQMWoIeo?si=m6vU4lgYxEbDnpL-" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="col-auto">
      <a href="" class="btn btn-info mt-3">Voltar</a>
    </div>
    
  </div>